/* src/components/MachineOperationLog.css */
.machine-operation-log {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: auto; /* Allow scrolling inside if content overflows */
  max-height: 90vh; /* Prevents it from taking full viewport height */
}

.machine-operation-log {
  width: 100%;
  max-width: 1200px; /* Increase max-width to make it wider */
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.machine-operation-log-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
  width: 100%;
}

form input[type="text"],
form select {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover {
  background-color: #0056b3;
}
